 body {
     background-color: honeydew;
 }
 .content{
     max-width: 1140px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(auto-fit, 360px);
     grid-gap: 20px;
 }
 .item {
     height:540px;
     background-color: white;
 }
 .item_big {
     grid-column: 1/-2;
     background-image: url("img/Layer 8.png");
 }